.extra {
  margin-bottom: 35px;
}

.extra__wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.extra__list {
  @include list-reset;
  @include font-simple;

  margin-bottom: 39px;
  border-top: 1px solid $color-gray3;
}

.extra__item {
  display: flex;
  flex-direction: column;
  padding-top: 13px;
  padding-bottom: 17px;

  border-bottom: 1px solid $color-gray3;
}

.extra__name {
  margin: 0;
  margin-bottom: 11px;

  @include font-decorative-regular;
  @include font-sizing(16px, 16px);
  text-transform: uppercase;
}

.extra__description {
  display: flex;
  justify-content: space-between;

  padding-bottom: 13px;
}

.extra__order {
  padding-bottom: 9px;

  @include font-sizing(16px, 20px);
}

.extra-bonus {
  width: 280px;
  margin: 37px auto;
}

.extra__title {
  width: $width-mobile;

  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;
  margin-bottom: 34px;

  @include title2-mini;
}

.extra__title span {
  display: inline-block;
  padding: 0 $size-offset-mobile;

  @include primary-color-scheme;
}

.extra__title .container {
  display: block;
  background-color: $color-light;
}

.extra__price {
  text-transform: uppercase;
}

@media (min-width: $width-tablet) {
  .extra__title {
    width: $width-tablet - 2 * $size-offset-tablet;
    margin-bottom: 80px;
  }

  .extra__title span {
    padding: 0 $form-offset-tablet;
  }

  .extra__item {
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 20px;
    padding-bottom: 28px;

    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    border-left: 1px solid $color-gray3;
    border-right: 1px solid $color-gray3;
  }

  .extra__description {
    margin-left: auto;
    margin-top: 7px;
    padding-bottom: 0;

    flex-wrap: wrap;
    align-items: flex-end;

    @include font-sizing(16px, 20px);
  }

  .extra__name {
    margin-bottom: 0;

    @include font-sizing(20px, 20px);
  }

  .extra__price {
    min-width: 95px;
    text-align: right;
  }

  .extra__order {
    width: 100%;
    margin-top: 23px;
  }

  .extra__list {
    margin-bottom: 68px;
  }

  .extra__bonus {
    margin-bottom: 40px;
  }
}

@media (min-width: $width-desktop) {
  .extra {
    margin-bottom: 19px;
  }

  .extra__price {
    min-width: 40px;
    text-align: left;
  }

  .extra__title {
    width: $width-desktop - 2 * $size-margin-desktop;
    margin-bottom: 78px;
  }

  .extra__title span {
    padding: 0 $size-offset-desktop;
  }

  .extra__list {
    flex-grow: 1;
    margin-right: 80px;
  }

  .extra__item {
    padding-left: 0;
    padding-right: 0;
    padding-top: 16px;
    padding-bottom: 15px;

    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    border-left: none;
    border-right: none;
  }

  .extra__name {
    flex-grow: 1;
  }

  .extra__description {
    width: 285px;
    margin-top: 4px;

    flex-wrap: wrap;
  }

  .extra__order {
    width: 245px;
    margin-top: 0;
    margin-left: 40px;

    flex-grow: 0;
  }

  .extra__wrapper {
    flex-direction: row;
  }
}
