.intro {
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  @include font-decorative-regular;
}

.intro__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--content {
    background-color: $color-accent;
  }

  &--picture {
    height: 197px;
  }
}

.intro__content {
  position: relative;
  min-height: 305px;
  width: 320px;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include ternary-color-scheme;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  background-image: url("../img/index-background-mobile@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.intro__picture {
  position: relative;
  margin-top: -140px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__title {
  text-align: center;
  margin-top: 27px;
  margin-bottom: 25px;
  max-width: $width-mobile - 2 * $size-offset-mobile;

  @include font-sizing(36px, 36px, 0.001em);
  font-weight: 400;
}

.intro__moto {
  margin-top: 0;

  @include font-sizing(14px, 14px, 0.001em);
  text-transform: uppercase;
}

.intro__button {
  position: absolute;
  margin-left: $size-offset-mobile;
  margin-right: $size-offset-mobile;
  margin-top: 440px;
  right: 0;
  left: 0;
}

@media (min-width: $width-tablet) {
  .intro {
    align-items: center;
  }

  .intro__container--picture {
    height: 532px;
  }

  .intro__container--content {
    width: 708px;
    align-items: flex-start;

    z-index: 10;
    background: transparent;
  }

  .intro__content {
    width: 427px;
    margin-left: 87px;

    align-items: flex-start;
    flex-shrink: 0;

    @include primary-color-scheme;
    background-color: transparent;
    background-image: none;
  }

  .intro__title {
    max-width: 487px;
    margin-bottom: 41px;

    @include font-sizing(60px, 60px);
    text-align: left;
  }

  .intro__moto {
    margin-bottom: 44px;

    @include font-sizing(20px, 20px);
  }

  .intro__picture {
    margin-top: -78px;
  }

  .intro__image {
    width: 709px;
    height: 609px;
  }

  .intro__button {
    position: static;
    margin-top: 0;
    margin-left: 3px;
    padding: 15px 29px 17px 25px;

    @include font-sizing(20px, 20px);
  }
}

@media (min-width: $width-desktop) {
  .intro {
    margin-bottom: 80px;

    flex-direction: row;
    justify-content: center;
  }

  .intro__container {
    width: auto;

    flex-direction: row;
    flex-grow: 1;

    &--picture {
      align-items: flex-start;
      height: auto;
      background-color: $color-accent;
    }

    &--content {
      justify-content: flex-end;

      z-index: 0;
    }
  }

  .intro__wrapper {
    width: 690px;
  }

  .intro__content {
    margin-left: 120px;
    width: 435px;

    justify-content: flex-start;

    background: $color-light;
    flex-grow: 0;

    @include primary-color-scheme;
  }

  .intro__picture {
    height: 695px;
    width: 610px;
    margin-top: 0;

    flex-grow: 1;

    justify-content: center;

    background-color: $color-accent;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    background-image: url("../img/index-background-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }

  .intro__image {
    position: absolute;
    width: 552px;
    height: 499px;
    top: 140px;
    left: 0;
    margin-left: -200px;
  }

  .intro__title {
    margin-top: 34px;
    margin-bottom: 41px;
  }

  .intro__moto {
    margin-bottom: 53px;
  }

  .intro__button {
    margin-left: 0;
  }
}
