.main-nav {
  position: relative;

  @include primary-color-scheme;
}

.main-nav__toggle {
  position: absolute;
  right: 50%;
  margin-top: -42px;
  margin-right: - ($width-mobile / 2 - $size-offset-mobile);

  display: block;
  width: 24px;
  height: 18px;

  text-decoration: none;
  font-size: 0;

  border: 0;
  background: #ffffff url("../img/icon-mobile-menu.svg") no-repeat center;
  opacity: 1;
}

@media (min-width: $width-tablet) {
  .main-nav {
    padding-top: 4px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    width: 440px;
  }
}

@media (min-width: $width-desktop) {
  .main-nav {
    background-color: transparent;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    width: 480px;
  }
}

@media (max-width: $width-tablet) {
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--opened .main-nav__toggle {
    background: #ffffff url("../img/icon-close.svg") no-repeat center;
  }

  .main-nav--closed .main-nav__list {
    display: none;
  }
}
