.page-footer {
  @include secondary-color-scheme;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;

  @include offset-padding;
}

.page-footer__logo {
  padding-top: 36px;
  padding-bottom: 27px;
  border-bottom: 1px solid $color-gray1;

  @include interaction-opacity($opacity-hover--header, $opacity-active--header);
}

.page-footer__social {
  width: 130px;
  padding-top: 22px;
  padding-bottom: 18px;
  padding-left: 75px;
  padding-right: 75px;
  margin: 0 auto;

  border-bottom: 1px solid $color-gray1;
}

.page-footer__copyright {
  padding-top: 21px;
  padding-bottom: 22px;
  text-align: left;
}

@media (min-width: $width-tablet) {
  .page-footer__container {
    padding-top: 62px;
    padding-bottom: 54px;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  .page-footer__social {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 34px;
    padding-right: 0;
    margin-top: -4px;

    border-bottom: none;
  }

  .page-footer__copyright {
    position: relative;
    width: 164px;
    top: 4px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: $width-desktop) {
  .page-footer__container {


    flex-direction: row;
    justify-content: space-between;
  }

  .page-footer__logo,
  .page-footer__social {
    border-bottom: none;
  }

  .page-footer__copyright {
    top: -4px;
  }
}
