.advantages {
  @include offset-padding;
  margin-bottom: 45px;
}

.advantages__title {
  @include title2;
  margin-bottom: 30px;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include list-reset;
}

.advantages__item {
  position: relative;

  padding-left: 80px;
  margin-bottom: 26px;

  @include font-simple;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $width-tablet) {
  .advantages__item {
    width: 354px;
    padding-left: 0px;

    /* tmp */
    height: 230px;
    background-color: gray;
  }
}

@media (min-width: $width-desktop) {
  .advantages__item {
    width: 245px;
    padding-left: 0px;

    /* tmp */
    height: 230px;
    background-color: gray;
  }
}
