.before-after {
  display: flex;
  flex-direction: column;
}

.before-after__wrapper {
  display: flex;
  flex-direction: column;
  align-times: stretch;
  padding-bottom: 37px;
}

.before-after__title-wrapper {
  @include secondary-color-scheme;
}

.before-after__info-wrapper {
  @include secondary-color-scheme;
}

.before-after__compare-wrapper {
  @include secondary-color-scheme;
}

.before-after__title {
  @include title2;
  padding-bottom: 24px;
}

.before-after__description {
  margin-bottom: 24px;
}

.before-after__stats {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.before-after__stats .before-after__list {
  display: flex;
  justify-content: space-between;

  @include list-reset;
}

.before-after__stats .before-after__item {
  position: relative;
  width: 122px;
  padding-top: 14px;
  padding-bottom: 16px;
  box-sizing: content-box;
  margin-bottom: 20px;

  @include font-decorative-regular;
  @include font-sizing(24px, 24px);
  text-align: center;

  border: 1px solid $color-border-stats;
  border-radius: 3px;
  text-transform: uppercase;
}

.before-after__stats .before-after__description {
  position: absolute;

  @include font-simple;
  @include font-sizing(12px, 12px);

  top: 50%;
  left: 50%;
  text-transform: lowercase;
}

.before-after__stats .before-after__price {
  align-self: center;
  margin-bottom: 32px;

  @include font-decorative-regular;
  @include font-sizing(14px, 20px, 0.001em);

  text-transform: uppercase;
}

.before-after__inner {
  margin-bottom: 33px;
}

@media (min-width: $width-tablet) {
  .before-after__stats {
    flex-direction: row;
    justify-content: space-between;
  }

  .before-after__title-wrapper {
    @include primary-color-scheme;
  }

  .before-after__info-wrapper {
    @include primary-color-scheme;
  }
}

@media (min-width: $width-desktop) {
  .before-after__wrapper {
    flex-direction: row;
    justify-content: space-between;

    @include secondary-color-scheme;
    @include container;
    display: flex;
  }

  .before-after__info {
    width: 455px;
  }

  .before-after__compare {
    width: 610px;
  }

  .before-after__stats {
    flex-direction: column;
    justify-content: space-between;
  }

  .before-after__wrapper-wrapper {
    @include secondary-color-scheme;
  }

  .before-after__info-wrapper {
    @include secondary-color-scheme;
  }
}

@media (max-width: $width-desktop) {
  .before-after__info,
  .before-after__compare {
    @include container;
  }
}
