.before-after {
  display: flex;
  flex-direction: column;
}

.before-after__container {
  display: flex;
  flex-direction: column;
  align-times: stretch;
}

.before-after__title-wrapper {
  @include secondary-color-scheme;
}

.before-after__info-wrapper {
  @include secondary-color-scheme;
}

.before-after__compare-wrapper {
  padding-bottom: 36px;

  @include secondary-color-scheme;
}

.before-after__info {
  padding-bottom: 4px;
}

.before-after__compare {
  width: $width-mobile;
  margin: 0 auto;
}

.before-after__title {
  margin-top: 18px;
  margin-bottom: 10px;

  @include title2;
}

.before-after__stats {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.before-after__list {
  width: 280px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include list-reset;
}

.before-after__item {
  position: relative;
  width: 122px;
  padding-top: 14px;
  padding-bottom: 16px;
  box-sizing: content-box;
  margin-bottom: 20px;

  @include font-decorative-regular;
  @include font-sizing(24px, 24px, 0.001em);
  text-align: center;

  border: 1px solid $color-border-stats;
  border-radius: 3px;
  text-transform: uppercase;
}

.before-after__description {
  margin-bottom: 24px;
}

.before-after__fact {
  position: absolute;
  max-width: 60px;
  padding-left: 19px;
  padding-right: 19px;
  margin-top: 18px;

  @include font-simple;
  @include font-sizing(12px, 12px);

  top: 50%;
  left: 50%;
  text-transform: lowercase;
  transform: translateX(-50%);

  @include secondary-color-scheme;
}

.before-after__price {
  align-self: center;
  margin-bottom: 32px;

  @include font-decorative-regular;
  @include font-sizing(14px, 20px, 0.001em);

  text-transform: uppercase;
}

.before-after__slides {
  margin-bottom: 28px;
}

@media (min-width: $width-tablet) {
  .before-after__title {
    margin-top: 10px;
    margin-bottom: 48px;
  }

  .before-after__stats {
    flex-direction: row;
    justify-content: space-between;
  }

  .before-after__list {
    width: 366px;
  }

  .before-after__item {
    padding-bottom: 18px;
    padding-left: 19px;
    padding-right: 19px;

    @include font-sizing(30px, 37px);
  }

  .before-after__fact {
    max-width: 120px;

    display: block;

    @include primary-color-scheme;
    white-space: nowrap;
  }

  .before-after__price {
    width: 192px;
    margin-top: 6px;

    @include font-sizing(20px, 30px);
    text-align: end;
  }

  .before-after__title-wrapper {
    @include primary-color-scheme;
  }

  .before-after__info-wrapper {
    @include primary-color-scheme;

    margin-bottom: 230px;
  }

  .before-after__info {
    padding-bottom: 0;
  }

  .before-after__compare {
    width: $width-tablet;
    margin: 0;
    padding-bottom: 69px;


    background-image: linear-gradient(to right, $color-middle 50%, $color-border-light 50%);
  }

  .before-after__description {
    margin-bottom: 53px;
  }

  .before-after__slides {
    margin-top: -168px;
    margin-left: 44px;
    margin-bottom: 9px;
  }

  .before-after__compare-wrapper {
    display: flex;
    justify-content: center;

    padding-bottom: 0;

    &::after {
      flex-grow: 1;

      content: "";
      background-color: $color-border-light;
    }
  }

  .before-after__compare--container {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
  }
}

@media (min-width: $width-desktop) {
  .before-after__wrapper {
    display: flex;
    justify-content: center;

    @include secondary-color-scheme;

    &::after {
      flex-grow: 1;

      content: "";
      background-color: $color-border-light;
    }
  }

  .before-after__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    flex-grow: 1;

    @include secondary-color-scheme;
  }

  .before-after__title {
    margin-bottom: 75px;
  }

  .before-after__info-wrapper {
    margin-bottom: 0;
    padding-bottom: 68px;

    @include secondary-color-scheme;
  }

  .before-after__info {
    width: 570px;
    margin-top: 71px;
    padding-left: $size-offset-desktop;
  }

  .before-after__compare {
    width: 690px;
    padding-bottom: 0px;

    background-image: linear-gradient(to right, $color-middle 53%, $color-border-light 53%);
  }

  .before-after__compare-wrapper {
    &::after {
      content: none;
    }
  }

  .before-after__slides {
    margin-top: -189px;
    margin-bottom: 30px;
    margin-left: 0;
  }

  .before-after__description {
    width: 440px;

    margin-bottom: 68px;
  }

  .before-after__item {
    padding-bottom: 20px;
  }

  .before-after__fact {
    margin-top: 26px;

    @include font-sizing(14px, 14px);
    @include secondary-color-scheme;
  }

  .before-after__stats {
    flex-direction: column;
    justify-content: space-between;
  }

  .before-after__price {
    width: 100%;
    margin-top: 35px;
    margin-bottom: 0;

    text-align: left;
  }

  .before-after__controls {
    padding-right: $size-offset-desktop;
  }
}

@media (max-width: $width-desktop) {
  .before-after__info {
    @include container;
  }
}
