.bonus {
  width: 280px;
  height: 289px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: $color-accent url("../img/gift-photo-mobile@1x.jpg") center;
  background-size: cover;
}

.bonus__text {
  max-width: 168px;

  color: $color-light;
  margin: 0;
  margin-top: 190px;

  font-size: 16px;
  text-align: center;
}

@media (min-width: $width-tablet) {
  .bonus {
    width: 100%;
    height: 200px;
  }
}

@media (min-width: $width-desktop) {
  .bonus {
    width: 245px;
    height: 290px;
  }
}
