/* .catalogue {
} */

.catalogue__list {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @include list-reset;
}

.catalogue__item {
  padding-top: 22px;
  padding-bottom: 23px;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  font-size: 12px;
  border-bottom: 1px solid $color-border-light2;
}

.catalogue__description {
  display: flex;
  justify-content: space-between;

  align-self: center;

  &--more {
    flex-direction: column;
    padding-top: 57px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.catalogue__info {
  min-height: 123px;
}

.catalogue__title {
  max-width: 90px;

  margin: 0;
  margin-bottom: 11px;

  @include font-decorative-regular;
  @include font-sizing(16px, 20px);
  text-transform: uppercase;

  &--center {
    max-width: 100%;
    margin-bottom: 9px;
  }
}

.catalogue__text {
  margin: 0;
  margin-bottom: 20px;
}

.catalogue__title a {
  text-decoration: none;
}

.catalogue__stats {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.catalogue__stats .catalogue__line {
  display: flex;
  justify-content: space-between;

  min-width: 140px;
}

@media (min-width: $width-tablet) {
  .catalogue__list {
    width: 708px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-shrink: 0;
  }

  .catalogue__item {
    margin-top: 140px;
    padding: 40px;
    flex-basis: 250px;

    background-color: $color-middle;
  }

  .catalogue__description {
    flex-direction: column;
    align-items: stretch;
  }
}

@media (min-width: $width-desktop) {
  .catalogue__list {
    width: 1220px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-shrink: 0;
  }

  .catalogue__item {
    margin-top: 140px;
    padding: 40px;
    flex-basis: 170px;

    background-color: $color-middle;
  }

  .catalogue__description {
    flex-direction: column;
    align-items: stretch;
  }
}
