.catalogue__list {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @include list-reset;
  border-top: 1px solid $color-border-light2;
}

.catalogue__item {
  padding-bottom: 24px;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  font-size: 12px;
}

.catalogue_wrapper {
  border-bottom: 1px solid $color-border-light2;
}

.catalogue__description {
  display: flex;
  justify-content: space-between;
  width: $width-mobile - 2 * $size-offset-mobile;

  align-self: center;

  &--more {
    flex-direction: column;
    margin-top: 79px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: $color-light url("../img/icon-plus-mobile.svg") no-repeat center;
  }
}

.catalogue__image img {
  height: 139px;
}

.catalogue__info {
  padding-top: 21px;
  width: 140px;
}

.catalogue__title {
  max-width: 90px;

  margin: 0;
  margin-bottom: 13px;

  @include font-decorative-regular;
  @include font-sizing(16px, 20px);
  text-transform: uppercase;

  &--center {
    max-width: 100%;
    margin-bottom: 7px;
  }
}

.catalogue__text {
  margin: 0;
  margin-bottom: 20px;
}

.catalogue__info a {
  text-decoration: none;
}

.catalogue__stats {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.catalogue__line {
  width: 140px;

  display: flex;
  justify-content: space-between;

  @include font-sizing(12px, 16px);
}

.catalogue__value--capitalised {
  text-transform: uppercase;
}

.catalogue__order {
  padding-bottom: 9px;

  @include font-sizing(16px, 20px);
}

@media (max-width: $width-tablet) {
  .catalogue__item {
    @include container;
  }
}

@media (min-width: $width-tablet) {
  .catalogue {
    @include container;
  }

  .catalogue__list {
    width: 708px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-shrink: 0;
    border-top: none;
  }

  .catalogue_wrapper {
    border-bottom: none;
  }

  .catalogue__item {
    margin-top: 140px;
    padding: 40px;
    width: 250px;

    background-color: $color-middle;
  }

  .catalogue__description {
    flex-direction: column;
    align-items: stretch;
  }
}

@media (min-width: $width-desktop) {
  .catalogue {
    @include container;
  }

  .catalogue__list {
    width: 1220px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-shrink: 0;
    border-top: none;
  }

  .catalogue_wrapper {
    border-bottom: none;
  }

  .catalogue__item {
    margin-top: 140px;
    padding: 40px;
    width: 170px;

    background-color: $color-middle;
  }

  .catalogue__description {
    flex-direction: column;
    align-items: stretch;
  }
}
