.categories {
  @include offset-padding;
}

.categories__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
}

.categories__item {
  @include secondary-color-scheme;
  padding: 30px 20px 18px 20px;
  margin-bottom: 20px;

  @include font-simple;

  &:last-child {
    margin-bottom: 0;
  }
}

.categories__title {
  position: relative;

  padding-left: 71px;
  margin-top: 0;
  bottom: 0;
  margin-bottom: 30px;

  @include font-decorative-regular;
  @include font-sizing(24px, 37px);
  text-transform: uppercase;

  &::before {
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    background-color: $color-accent2;
    border-radius: 50%;
  }
}

.categories__description {
  margin-top: 0;
  padding-bottom: 21px;
  border-bottom: 1px solid $color-border-dark;
  margin-bottom: 20px;
}

.categories__link {
  @include font-decorative-regular;
  @include font-sizing(16px, 16px);
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: $width-tablet) {
  .categories {
    margin-bottom: 45px;
  }

  .categories__title {
    padding-left: 0;
    margin-bottom: 25px;

    @include font-sizing(36px, 37px);
  }

  .categories__description {
    width: 375px;
    padding-bottom: 0;
    margin-bottom: 56px;

    border: none;
  }

  .categories__item {
    padding: 76px 20px 56px 53px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .categories__link {
    @include font-sizing(20px, 20px);
  }
}

@media (min-width: $width-desktop) {
  .categories__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .categories__item {
    width: 466px;
    margin-bottom: 0;
    padding-left: 52px;
    padding-right: 52px;
  }
}
