.categories {
  @include offset-padding;
}

.categories__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
}

.categories__item {
  @include secondary-color-scheme;
  padding: 30px 20px 18px 20px;
  margin-bottom: 20px;

  @include font-simple;

  &:last-child {
    margin-bottom: 0;
  }
}

.categories__title {
  position: relative;

  padding-left: 71px;
  margin-top: 0;
  bottom: 0;
  margin-bottom: 30px;

  @include font-decorative-regular;
  @include font-sizing(24px, 37px);
  text-transform: uppercase;

  &::before {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 2px;
    top: -6px;

    content: "";
    background-color: $color-accent2;
    border-radius: 50%;
  }

  &::after {
    position: absolute;

    content: "";
    background-repeat: no-repeat;
    background-position: center;
  }

  &--slim::after {
    width: 36px;
    height: 50px;
    left: 10px;
    top: -9px;
    background-image: url("../img/icon-cat-slim.svg");
  }

  &--pro::after {
    width: 67px;
    height: 28px;
    left: -7px;
    top: 5px;
    background-image: url("../img/icon-cat-pro.svg");
  }
}

.categories__description {
  margin-top: 0;
  padding-bottom: 21px;
  border-bottom: 1px solid $color-gray3;
  margin-bottom: 20px;
}

.categories__link {
  position: relative;

  vertical-align: center;

  @include font-decorative-regular;
  @include font-sizing(16px, 16px);
  text-transform: uppercase;
  text-decoration: none;
  color: black;

  @include interaction-opacity($opacity-hover, $opacity-active);
}

.categories__arrow {
  position: relative;
  top: -2px;
  right: -7px;
}

@media (min-width: $width-tablet) {
  .categories {
    margin-bottom: 45px;
  }

  .categories__title {
    padding-left: 0;
    margin-bottom: 25px;

    @include font-sizing(36px, 37px);

    &::before {
      position: absolute;
      width: 200px;
      height: 200px;
      left: 393px;
      top: 16px;

      content: "";
      background-color: $color-accent2;
      border-radius: 50%;
    }

    &--slim::after {
      width: 140px;
      height: 194px;
      left: 423px;
      top: 4px;
    }

    &--pro::after {
      width: 268px;
      height: 112px;
      left: 359px;
      top: 59px;
    }
  }

  .categories__description {
    padding-bottom: 0;
    margin-bottom: 56px;

    border: none;

    &--slim {
      width: 375px;
    }

    &--pro {
      width: 344px;
    }
  }

  .categories__item {
    padding: 76px 20px 56px 53px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .categories__link {
    @include font-sizing(20px, 20px);
  }

  .categories__arrow {
    top: -3px;
    right: -19px;
  }
}

@media (min-width: $width-desktop) {
  .categories {
    margin-bottom: 74px;
  }

  .categories__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .categories__item {
    width: 466px;
    margin-bottom: 0;
    padding-left: 52px;
    padding-right: 52px;
  }

  .categories__title {
    padding-left: 162px;
    margin-bottom: 76px;

    &::before {
      position: absolute;
      width: 100px;
      height: 100px;
      left: 0;
      top: -28px;

      content: "";
      background-color: $color-accent2;
      border-radius: 50%;
    }

    &--slim::after {
      width: 70px;
      height: 97px;
      left: 14px;
      top: -34px;
    }

    &--pro::after {
      width: 134px;
      height: 56px;
      left: -18px;
      top: -6px;
    }
  }

  .categories__description {
    width: 470px;
    margin-bottom: 30px;
  }
}
