.compare-slider__slides {
  position: relative;
}

.compare-slider__image--before {
  position: absolute;
}

.compare-slider__controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.compare-slider__control {
  @include font-decorative-regular;
  @include font-sizing(16px, 20px);
  text-transform: uppercase;
}

.compare-slider__indication {
  display: inline-block;
  width: 83px;
  height: 12px;

  margin: 0 20px 0 17px;

  @include primary-color-scheme;
  border: 1px solid $color-border-stats;
  border-radius: 7px;
}

@media (min-width: $width-tablet) {
  .compare-slider__image {
    width: 670px;
    height: 505px;
  }

  .compare-slider__control {
    padding-bottom: 7px;

    @include font-sizing(20px, 20px);
    border-bottom: 1px dotted $color-border-dark;
  }

  .compare-slider__indication {
    width: 432px;
    height: 10px;
  }
}

@media (min-width: $width-desktop) {
  .compare-slider__indication {
    width: 428px;
    height: 6px;

    background-color: $color-border-dark;
  }

  .compare-slider__controls {
    justify-content: flex-end;
  }
}
