.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contacts__info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include offset-padding;
  padding-top: 15px;
  padding-bottom: 12px;

  @include main-color-scheme;

  &--dark {
    @include secondary-color-scheme;
  }
}

.contacts__title {
  @include font-decorative-regular;
  @include font-sizing(16px, 20px);
  text-transform: uppercase;
}

.contacts__text {
  @include font-simple;
  @include font-sizing(14px, 20px);
}
