.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include font-simple;
  @include font-sizing(16px, 16px);
}

.copyright__image {
  width: 28px;
  height: 34px;
}
