.extra {
  @include offset-padding;
  margin-bottom: 35px;
}

.extra__title {
  margin: 0;

  @include font-decorative-regular;
  @include font-sizing(24px, 24px);
  padding-top: 30px;
  padding-bottom: 32px;
  border-bottom: 1px solid $color-border-dark;
}

.extra__wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.extra__list {
  @include list-reset;
  @include font-simple;

  margin-bottom: 40px;
}

.extra__item {
  padding-top: 12px;
  padding-bottom: 17px;

  border-bottom: 1px solid $color-border-dark;
}

.extra__name {
  margin: 0;
  margin-bottom: 13px;

  @include font-decorative-regular;
  @include font-sizing(16px, 16px);
  text-transform: uppercase;
}

.extra__description {
  display: flex;
  justify-content: space-between;

  padding-bottom: 12px;
}

.extra-bonus {
  width: 280px;
  margin: 37px auto;
}

@media (min-width: $width-tablet) {
  .extra__item {
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (min-width: $width-desktop) {
  .extra__item {
  }
}
