.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form__description {
  display: block;

  @include font-decorative-regular;
  @include font-sizing(14px, 18px);
  text-transform: uppercase;
}

.form__textinput,
.form__textarea {
  @include text-input;
}

.form label {
  @include text-input-label;
}

.form__line {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form__line:last-child {
  margin-bottom: 0;
}

.form__label {
  margin-right: 20px;
}

.form__textinput {
  flex-grow: 1;
}

.form__cat {
  display: flex;
  flex-direction: column;
  padding-top: 36px;
  padding-bottom: 9px;
}

.form__data {
  margin-bottom: 15px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form__course {
  border-top: 1px solid $color-border-light2;
  border-bottom: 1px solid $color-border-light2;
}

.form__course .form__line {
  margin-bottom: 22px;
}

.form__wrapper {
  padding-top: 24px;
  padding-bottom: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  &--dummy {
    padding: 0;
  }

  &--dummy::before {
    width: 0;
    height: 0;
  }
}


.form__title {
  margin: 0;
  margin-top: 28px;
  margin-bottom: 34px;

  @include font-decorative-regular;
  @include font-sizing(24px, 24px);
}


.form__course .form__content {
  width: 280px;
}

.form__owner .form__content {
  display: flex;
  flex-direction: column;
}

.form__additional .form__content {
  display: flex;
  flex-direction: column;
}

.form__comment .container-form-tablet {
  display: flex;
  flex-direction: column;
}

.form__textarea {
  align-self: stretch;
}

.form__submit {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 20px;
}

.form__submit .form__button {
  margin-bottom: 20px;
}

.form__remark {
  align-self: center;
}

@media (min-width: $width-tablet) {
  .form__additional .form__content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__course .form__content {
    width: 628px;
  }

  .form__additional .form__line,
  .form__submit-button,
  .form__remark {
    width: 285px;
  }

  .form__submit {
    flex-direction: row;
  }

  .form__submit-button {
    width: 285px;
    margin-bottom: 0;
  }

  .form__course {
    align-self: stretch;
    display: flex;
    justify-content: center;

    border: none;
  }

  .form__wrapper {
    flex-grow: 1;

    align-content: flex-start;
    border-left: 1px solid $color-border-light2;
    border-top: 1px solid $color-border-light2;
    border-bottom: 1px solid $color-border-light2;

    &--dummy {
      align-content: flex-end;
      border: none;
    }
  }

}

@media (min-width: $width-desktop) {
  .form__cat {
    flex-direction: row;
    justify-content: space-between;

    @include container-form-tablet;
    display: flex;
  }

  .form__data,
  .form__submit .form__button,
  .form__remark {
    width: 570px;
  }

  .form__data {
    margin-bottom: 0;
  }

  .form__owner .form__content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__owner .form__line {
    width: 570px;
  }


  .form__wrapper {
    flex-grow: 0;

    border: 1px solid $color-border-light2;

    &--dummy {
      border: none;
    }
  }
}

@media (max-width: $width-desktop) {
  .form__data {
    @include container-form-tablet;
  }

  .form__data {
    margin-bottom: 15px;
  }
}
