.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form__description {
  display: block;

  @include font-decorative-regular;
  @include font-sizing(14px, 18px);
  text-transform: uppercase;
}

.form__textinput,
.form__textarea {
  @include text-input;
}

.form label {
  @include text-input-label;
}

.form__line {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form__label {
  margin-right: 20px;
}

.form__textinput {
  flex-grow: 1;
}

.form__cat {
  display: flex;
  flex-direction: column;
  padding-top: 36px;
  padding-bottom: 9px;
}

.form__cat-data {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form__course {
  padding-top: 24px;
  padding-bottom: 3px;

  border-top: 1px solid $color-border-light2;
  border-bottom: 1px solid $color-border-light2;
}

.form__course .form__line {
  margin-bottom: 22px;
}

.form__title {
  margin: 0;
  margin-top: 28px;
  margin-bottom: 34px;

  @include font-decorative-regular;
  @include font-sizing(24px, 24px);
}

.form__owner {
  display: flex;
  flex-direction: column;
}

.form__additional {
  display: flex;
  flex-direction: column;
}

.form__comment {
  display: flex;
  flex-direction: column;
}

.form__textarea {
  align-self: stretch;
}

.form__submit {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form__submit-button {
  flex-grow: 1;
  margin-bottom: 20px;
}

.form__remark {
  align-self: center;
}

@media (min-width: $width-tablet) {
  .form__course {
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid $color-border-light2;
  }
}

@media (min-width: $width-desktop) {
  .form__course {
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid $color-border-light2;
  }
}


@media (min-width: $width-tablet) {
  .form__additional {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__additional .form__line,
  .form__submit-button,
  .form__remark {
    width: 285px;
  }

  .form__submit {
    flex-direction: row;
  }

  .form__submit-button {
    width: 285px;
    margin-bottom: 0;
  }
}

@media (min-width: $width-desktop) {
  .form__cat {
    flex-direction: row;
    justify-content: space-between;
  }

  .form__cat .form__cat-data,
  .form__cat .form__course,
  .form__submit-button,
  .form__remark  {
    width: 570px;
  }

  .form__owner {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__owner .form__line {
    width: 570px;
  }
}
