.intro {
  display: flex;
  flex-direction: column;

  margin-bottom: 65px;

  @include font-decorative-regular;
  text-align: center;
}

.intro__content {
  position: relative;
  min-height: 305px;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include ternary-color-scheme;
  background: #5eaa2f url("../img/index-background-mobile@1x.jpg") center bottom no-repeat;
}

.intro__picture {
  position: relative;
  margin-top: -140px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__title {
  @include font-sizing(36px, 36px, 0.01em);
}

.intro__moto {
  @include font-sizing(14px, 14px, 0.01em);

  text-transform: uppercase;
}

.intro__choose {
  position: absolute;
  margin-top: 439px;

  @include offset-relative;
}
