.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  margin-top: -42px;
  right: $size-offset-mobile;

  display: block;
  width: 24px;
  height: 18px;

  text-decoration: none;
  font-size: 0;

  border: 0;
  background: #ffffff url("../img/icon-mobile-menu.svg") no-repeat center;
  opacity: 1;

  &:hover {
    background: #ffffff url("../img/icon-close.svg") no-repeat center;

    width: 18px;
    height: 18px;
  }

  &:hover + .main-nav__list {
    display: flex;
  }
}

.main-nav__list {
  display: none;
}

@media (min-width: $width-tablet) {
  .main-nav {
  }

  .main-nav__toggle {
    right: $size-offset-tablet;
  }

  .main-nav__list {
    display: flex;
    padding-tight: $size-offset-tablet;
  }
}

@media (min-width: $width-desktop) {
  .main-nav {
  }

  .main-nav__toggle {
    width: 570px;
    right: $size-offset-desktop;
  }

  .main-nav__list {
    display: flex;
    padding-tight: $size-offset-desktop;
  }
}

