@mixin color-theme ($fg-color, $bg-color, $fg-color-opacity: 1) {
  color: opacify($fg-color, $fg-color-opacity);
  background-color: $bg-color;
}

@mixin primary-color-scheme {
  @include color-theme($color-dark, $color-light);
}

@mixin secondary-color-scheme {
  @include color-theme($color-dark, $color-middle);
}

@mixin ternary-color-scheme {
  @include color-theme($color-light, $color-accent);
}

@mixin font-sizing($font-size, $line-height, $letter-spacing:0.001em) {
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

@mixin font-decorative-regular {
  font-family: $font-decorative;
  font-weight: 400;
}

@mixin font-decorative-medium {
  font-family: $font-decorative;
  font-weight: 500;
}

@mixin font-simple {
  font-family: $font-simple;
  font-weight: 400;
  letter-spacing: 0.001em;

  @include font-sizing(14px, 18px);

  @media (min-width: $width-tablet) {
    @include font-sizing(16px, 24px);
  }
}

@mixin title2 {
  @include font-decorative-regular;
  @include font-sizing(36px, 60px);

  @media (min-width: $width-tablet) {
    @include font-sizing(60px, 60px);
  }
}

@mixin title2-mini {
  @include font-decorative-regular;
  @include font-sizing(24px, 24px);

  @media (min-width: $width-tablet) {
    @include font-sizing(36px, 36px);
  }
}

@mixin list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

@mixin offset-padding {
  padding-left: $size-offset-mobile;
  padding-right: $size-offset-mobile;

  @media (min-width: $width-tablet) {
    padding-left: $size-offset-tablet;
    padding-right: $size-offset-tablet;
  }

  @media (min-width: $width-desktop) {
    padding-left: $size-offset-desktop;
    padding-right: $size-offset-desktop;
  }
}

@mixin text-input {
  padding: 12px 0 13px 12px;

  @include font-decorative-regular;
  @include font-sizing(16px, 18px, 0.001em);
  text-transform: uppercase;

  @include primary-color-scheme;
  border: 1px solid opacify($color-gray4, 0.5);

  &:hover {
    border-color: $color-gray4;
  }

  &:focus {
    padding-top: 11px;
    padding-bottom: 12px;

    border-color: $color-input-active;
    border-width: 2px;
  }

  &:invalid {
    padding-top: 11px;
    padding-bottom: 12px;

    border-color: $color-input-error;
    border-width: 2px;
  }

  @media (min-width: $width-tablet) {
    padding: 9px 0 11px 20px;

    @include font-sizing(20px, 20px);

    &:focus,
    &:invalid {
      padding-top: 9px;
      padding-bottom: 10px;
    }
  }
}

@mixin text-input-label {
  @include font-decorative-regular;
  @include font-sizing(16px, 18px);
  text-transform: uppercase;

  @media (min-width: $width-tablet) {
    @include font-sizing(20px, 20px);
  }
}

@mixin container {
  margin: 0 auto;
  padding-right: $size-offset-mobile;
  padding-left: $size-offset-mobile;
  width: $width-mobile - 2 * $size-margin-mobile - 2 * $size-offset-mobile;

  @media (min-width: $width-tablet) {
    padding-right: $size-offset-tablet;
    padding-left: $size-offset-tablet;
    width: $width-tablet - 2 * $size-margin-tablet - 2 * $size-offset-tablet;
  }

  @media (min-width: $width-desktop) {
    padding-right: $size-offset-desktop;
    padding-left: $size-offset-desktop;
    width: $width-desktop - 2 * $size-margin-desktop - 2 * $size-offset-desktop;
  }
}

@mixin container-form-tablet {
  @include primary-color-scheme;
  @include container;

  @media (min-width: $width-tablet) and (max-width: $width-desktop) {
    padding-right: $size-offset-tablet + $form-offset-tablet;
    padding-left: $size-offset-tablet + $form-offset-tablet;
    width: $width-tablet - 2 * $size-margin-tablet - 2 * $size-offset-tablet - 2 * $form-offset-tablet;
  }
}

@mixin interaction-opacity($opacity-hover, $opacity-active, $additional-selector: "") {
  &:hover#{$additional-selector} {
    opacity: $opacity-hover;
  }

  &:active#{$additional-selector} {
    opacity: $opacity-active;
  }
}
