.page-header {
  position: relative;

  z-index: 10;
}

.page-header__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  z-index: 10;
}

.page-header__logo {
  padding: 14px 0 13px 0;
  display: flex;

  border-bottom: 1px solid $color-gray1;
}

.page-header__image {
  position: relative;
  top: -3px;
}

.page-header__title {
  margin-left: 57px;

  &--tablet,
  &--desktop {
    display: none;
  }
}

.page-header__logo-container {
  display: flex;
  align-items: center;
  font-size: 0;
}

@media (max-width: $width-tablet) {
  .page-header__logo-container {
    @include container;
  }
}

@media (min-width: $width-tablet) {
  .page-header {
    border-bottom: none;
  }

  .page-header__container {
    @include container;
    padding-top: 26px;
    padding-bottom: 30px;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .page-header__logo {
    padding: 0;

    align-self: flex-start;

    border-bottom: none;
  }

  .page-header__image {
    display: none;
  }

  .page-header__title {
    margin-left: 0;

    display: block;

    &--mobile,
    &--desktop {
      display: none;
    }
  }
}

@media (min-width: $width-desktop) {
  .page-header {
    border-bottom: none;
    background-color: transparent;

    &--index {
      position: absolute;
      left: 50%;
      top: 0;
    }
  }

  .page-header--index .page-header__container {
    position: relative;
    left: -50%;
  }

  .page-header__container {
    padding-top: 53px;
    padding-bottom: 34px;
  }

  .page-header__logo {
    border-bottom: none;
  }

  .page-header__title {
    display: block;

    &--mobile,
    &--tablet {
      display: none;
    }
  }
}
