.page-header {
  position: relative;

  @include primary-color-scheme;

  z-index: 10;
}

.page-header__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  z-index: 10;
}

.page-header__logo {
  padding: 14px 0 13px 0;
  display: flex;

  border-bottom: 1px solid $color-border-light;
}

.page-header__title {
  margin-left: 57px;
}

.page-header__logo-container {
  display: flex;
  align-items: center;
  font-size: 0;
}

@media (max-width: $width-tablet) {
  .page-header__logo-container {
    @include container;
  }
}

@media (min-width: $width-tablet) {
  .page-header {
    border-bottom: none;
  }

  .page-header__container {
    @include container;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .page-header__logo {
    border-bottom: none;
  }

  .page-header__logo-container {
    width: 162px;
  }

  .page-header__logo .page-header__title {
    margin: 24px 0 24px 21px;
  }
}

@media (min-width: $width-desktop) {
  .page-header {
    border-bottom: none;
    background-color: transparent;
  }

  .page-header__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header__logo {
    border-bottom: none;
  }

  .page-header__logo .page-header__title {
    margin: 24px 0 24px 13px;
  }
}
