.page-main {
  @include main-color-scheme;
}

.page-main__header {
  @include offset-padding;
  padding-top: 14px;
  padding-bottom: 28px;
  margin: 0;

  @include font-decorative-regular;
  font-size: 36px;
  line-height: 60px;


  &--separated {
    border-bottom: 1px solid $color-border-light;
  }
}
