.page-main {
  @include primary-color-scheme;
}

.page-main__header {
  padding-top: 15px;
  padding-bottom: 26px;

  @include title2;
}


@media (min-width: $width-tablet) {
  .page-main__header {
    padding-top: 27px;
    padding-bottom: 23px;
  }
}
