@font-face {
  font-family: "Oswald";
  src: local("Oswald Regular"), local("Oswald-Regular"), url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald Medium"), local("Oswald-Medium"), url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  min-width: 320px;
  margin: 0 auto;

  @include font-simple;
}

.container {
  width: $width-mobile - 2 * $size-offset-mobile;
  margin: 0 auto;
}

@media (min-width: $width-tablet) {
  .container {
    width: $width-tablet - 2 * $size-offset-tablet;
  }
}

@media (min-width: $width-desktop) {
  .container {
    width: $width-desktop - 2 * $size-offset-desktop;
  }
}

.visually-hidden {
  @include visually-hidden;
}

.button {
  display: block;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 14px;
  line-height: 18px;
  vertical-align: top;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;

  @include font-decorative-regular;
  @include ternary-color-scheme;

  &--secondary {
    @include secondary-color-scheme;
  }
}
