.site-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @include list-reset;
}

.site-list__item {
  @include font-decorative-medium;
  @include font-sizing(20px, 20px, 0.01em);
  text-transform: uppercase;

  text-align: center;

  @include primary-color-scheme;
  border-bottom: 1px solid $color-gray1;
}

.site-list__item a {
  display: block;

  padding-bottom: 22px;
  padding-top: 22px;

  text-decoration: none;
}


@media (max-width: $width-tablet) {
  @include container;
  @include offset-padding;
}

@media (min-width: $width-tablet) {
  .site-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .site-list__item {
    padding-left: 0;
    padding-right: 0;

    @include font-decorative-regular;
    @include font-sizing(18px, 25px);

    border-bottom: none;

    &--active {
      border-bottom: 2px solid $color-accent2;
    }
  }

  .site-list__item a {
    padding-bottom: 7px;
    padding-top: 7px;
  }
}

@media (min-width: $width-desktop) {
  .site-list {
    flex-direction: row;
  }

  .site-list__item {
    background-color: transparent;

    @include font-sizing(20px, 26px);

    &--active {
      border-bottom: 2px solid $color-accent2;
    }

    &--index {
      color: $color-light;
    }
  }

  .site-list__item--active.site-list__item--index {
    border-bottom: 2px solid $color-light;
  }
}
