.social {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include list-reset;
}

.social__image {
  display: none;
  width: 22px;

  &--mobile {
    display: block;
  }
}

.social__link {
  display: inline-block;
  font-size: 0;
}

.social__item {
  display: inline-block;

  text-decoration: none;

  &:last-child {
    margin-right: 0;
  }
}

@media (min-width: $width-tablet) {
  .social__image {
    display: block;
    width: 30px;

    &--mobile {
      display: none;
    }
  }
}
