$color-light: #ffffff;
$color-middle: #f2f2f2;
$color-dark: #111111;
$color-accent: #5eaa2f;
$color-border-light: #e6e6e6;
$color-border-light2: #ededed;
$color-border-dark: #d9d9d9;
$color-border-stats: #cdcdcd;

$font-decorative: "Oswald", "Tahoma", sans-serif;
$font-simple: "Arial", sans-serif;

$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1440px;

$size-margin-mobile: 0;
$size-margin-tablet: 0;
$size-margin-desktop: 70px;

$size-offset-mobile: 20px;
$size-offset-tablet: 30px;
$size-offset-desktop: 40px;


